name: build
on: [pull_request, push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: checkout repository
        uses: actions/checkout@v6
      - name: setup jdk 21
        uses: actions/setup-java@v5
        with:
          java-version: 21
          distribution: 'microsoft'
      - name: setup gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          gradle-version: wrapper
      - name: make gradle wrapper executable
        run: chmod +x ./gradlew
      - name: build with gradle
        run: ./gradlew build --stacktrace
        env:
          GRADLE_OPTS: "-Dorg.gradle.daemon=false -Dorg.gradle.parallel=false"
      - name: capture build artifacts
        uses: actions/upload-artifact@v5
        with:
          name: Artifacts
          path: build/libs/
